body {
    background-color: rgb(240, 232, 225);
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/2058946/pexels-photo-2058946.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.tamanioSeccion {
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bienvenido {
    background-color: rgba(205, 223, 212, 0.7);
}

.quienSoy {
    background-color: rgba(194, 207, 196, 0.7);
}

.formacionAcademica {
    background-color: rgba(203, 211, 189, 0.7);
}

.emprendimientos {
    background-color: rgba(192, 191, 209, 0.7);

}

.tiempoLibre {
    background-color: rgba(200, 209, 218, 0.7);
}

.GaleriaVisual {
    background-color: rgba(216, 199, 199, 0.7);
}

.misMetas {
    background-color: rgba(204, 188, 188, 0.7);

}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}